# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.DS_Store
coverage/*
public/uploads/*
public/caches
.sass-cache


# Ignore rvm stuff
.rvmrc
.ruby-gemset
.ruby-version
