@import "_variables";
@import "_bootstrap_mixins";
@import "bootstrap_type";
@import "reset";
@import "select2";

$headerText: 'Rambla', sans-serif;
$bodyText: 'EB Garamond', serif;

$textColor: #111;
$grayText: #999;
$linkColor: #85a4b0;

$blueDark: rgb(41,128,185);
$bodyBackground: #f0f0f0;
$sectionBackground: #fff;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html { 
  height: 100%;  width: 100%;
  max-width: 100%;
  margin: 0; padding: 0;
}

body {
  @include clearfix;
  width: 100%;
  height: 100%;
  position: relative;
  background: $bodyBackground;
  margin: 0;
  padding: 3em 0 1.55em 0;
  color: $textColor;
  font-family: $bodyText;
  font-weight: 400;
  font-size: 17px;
}

.data-span, .mustached { display: none; }

.bike {
  @include clearfix;
  display: none;
}

select, .select2-container, .select2-results {
  font-family: $headerText;
  size: 14px;
}

h1, h2, h3, h4 {
  font-family: $bodyText;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0 0 .3em;
  font-size: 1.25em;
  
  span, small { color: $grayText; }
  small { font-size: 85%; }
  strong { font-weight: bold; }
}

h3 { margin-bottom: 1em; }

h4 {
  font-size: 1.15em;
  color: #666;
}

#initial {
  span {
    @include transition(opacity ease-in .5s);
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: $blueDark;
    box-shadow: 0 0 3px rgba(black,.2);
  }
  h1, h2 {
    @include transition(opacity ease-in 3s);
    text-shadow: 1px 1px 2px rgba(black,.2);
    z-index: 1001;
    text-align: center;
    font-size: 80px;
    color: white;
    position: absolute;
    top: 50%; left: 0;
    margin-top: -.5em;
    margin-bottom: 0;
    display: block;
    width: 100%;
  }
  img {
    display: inline-block;
    height: 1em;
    margin-right: .25em;
  }
  
  h2 {
    margin-top: 70px;
    font-size: 40px;
  }

  &.off-screen span { opacity: 0; }
  &.removed {
    span {
      z-index: 0;
      height: 0; width: 0;
    }
    h1, h2 {
      z-index: -1;
      opacity: 0;
    }
  }
}

#new-compare {
  box-shadow: inset 0 -1px 3px rgba(black,.2);
  width: 100%;
  display: block;
  position: absolute;
  top: 0; left: 0;
  background: $blueDark;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: .5em;
  border-bottom: 1px solid #fff;
  border-top: 1px solid $blueDark;
  font-size: 18px;
  &:hover {
    border: none;
    box-shadow: 1px 1px 2px rgba(black,.2);
  }
  &:active {
    border-bottom: 1px solid #fff;
    border-top: 1px solid $blueDark;
    box-shadow: inset 0 -1px 3px rgba(black,.2);
  }
}

footer {
  @include clearfix;
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 0 1% 10px;
  img {
    float: left;
    height: 2em;
    margin: -.5em .5em 0 0;
  }
  p, h2 {
    font-family: $bodyText;
    color: $grayText;
    font-size: 18px;
  }
  p { float: left; }
  h2 { float: right; }
  a {
    @include transition(color linear .1s);
    color: $linkColor;
    text-decoration: none;
    &:visited { color: $linkColor; }
    &:hover { color: #4471b4; }
  }
}

#bikes-container {
  @include clearfix;
}

section {
  @include clearfix;
  box-shadow: inset 0 0 3px rgba(black,.2);
  border-radius: 3px;
  position: relative;
  margin: 20px 0 0 1%;
  padding: .5em;
  background: $sectionBackground;
  border: 1px solid #ccc;
  float: left;
}

.close { 
  @include transition(all linear .1s);
  border-radius: .25em;
  display: block;
  position: absolute;
  top: .5em; right: .5em;
  border: 1px solid #ddd;
  padding: .05em .5em .15em;
  background: rgba(#ccc,.3);
  z-index: 100;
  cursor: pointer;
  color: $grayText;
  text-decoration: none;
  font-family: $headerText;
  &:hover {
    color: #000;
    background: #ccc;
    box-shadow: 1px 1px solid rgba(black,.2);
  }
  &:active { top: .56em; right: .44em; }
}

dl.comp_cat dt {
  float: left;
  padding-right: .4em;
  text-transform: capitalize;
}
dd { color: $grayText; }  


.bike-description {
  position: relative;
  margin-top: 2em;
  color: $grayText;

  .mnfg-link {
    @include transition(color linear .1s);
    color: $grayText;
    text-decoration: underline;
    &:visited { color: $grayText; }
    &:hover { color: #4471b4; }
  }
}

.comp_cat_link {
  @include transition(color linear .1s);
  color: $linkColor;
  cursor: pointer;
  text-decoration: none;
  padding-left: .4em;
  &:before {
    @include rotate(90deg);
    @include transition(all linear .1s);
    content: "►";
    float: left;
    font-size: .6em;
    margin-left: -.2em;
  }
  &:hover { color: #4471b4; }
}
.closed .comp_cat_link:before { @include rotate(0deg); }

.selectors {
  @include clearfix;
  width: 100%;
  position: relative;
  padding: 0 2em .5em 0;
  z-index: 50;
}

.manufacturer-select {
  @include transition(all linear .1s);
  width: 39%;
  float: left;
  margin-right: 1%;
  
  .select2-default { color: $textColor !important; }
}
.year-select {
  width: 19%;
  margin-right: 1%;
  float: left;
}

.model-select-contain { 
  display: none;
  clear: none;
  width: 39.5%;
  float: left;
  .select2-container {
    display: block;
  }
}

.image-holder {
  position: relative;
  border-radius: 2px;
  z-index: 0;
  img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 525px;
  }
  .photo-bg, .model-photo {
      position: absolute;
      left: 0; top: 0;
    }

  // .model-photo { width: 100%; z-index: 10; }
  .placeholder {
    z-index: 0;
    span {
      display: block;
      width: 100%;
      position: absolute;
      top: 50%; left: -10%;
      margin-top: -.5em;
      font-family: $headerText;
      font-size: 2em;
      text-align: center;
      text-shadow: 0 0 4px rgba(white,.5);
    }
  }
}

.model-display {
  @include clearfix;
  display: none; 
  min-height: 525px;
  padding: 20px .5em .5em;
}


@media (max-width: 760px) {
  .image-holder .placeholder span { font-size: 1.3em; }
}


.showing-1-bikes, .showing-2-bikes, .showing-many-bikes {
  padding-bottom: 20px;

  section {  width: 98%; }

  .image-holder {
    width: 48%;
    margin-left: 2%;
    float: right;
  }

  h3 {
    float: left;
  }

  .bike-base .dl-horizontal {
    float: left;
    clear: left;
  }
  .bike-description { 
    clear: left;
    padding-bottom: 60px;
  }

  dl.comp_cat { padding-left: .9em; }

  .comp_cat_wrap {
    float: left; 
    margin-left: 2%;
    width: 48%;
    margin-top: 1.5em;
  }

  .frameandfork {
    margin-left: 0;
    clear: both; 
  }
  .wheels { margin-left: 0; }
  
}

.showing-2-bikes {
  section {
    width: 48.5%;
    margin-left: 1%;
  }
}

.showing-many-bikes {
  section {
    width: 32%;
    margin-left: 1%;
  }
}

@media (min-width: 1000px) {
  .showing-1-bikes {

    .image-holder { max-width: 700px; }

    h3 {
      font-size: 1.5em; 
      margin: 60px 0 1em;
    }
    .model-display { min-height: 575px; }

    .comp_cat_wrap {
      width: 32%;
      margin-top: 0;
      margin-top: .5em;
    }
    .frameandfork {
      float: none;
      clear: none;
      width: 100%;
    }
    .drivetrainandbrakes {
      clear: left; clear: right;
      margin-left: 0;
    }
    .wheels { margin-left: 2%; }
  }
}

@media (max-width: 760px) {
 .showing-2-bikes, .showing-many-bikes {
    section {
      width: 98%;
      float: none;
    }
  }
}

@media (max-width: 1660px) {
  .showing-many-bikes {
    .year-select {
      width: 28%; 
      margin-right: 0;
    }
    .model-select-contain { 
      width: 100%;
      .select2-container {
        padding-top: 7px;
        clear: both;
      }
    }
    .manufacturer-select {
      margin-right: 2%;
      width: 70%;
    }
  }
}

@media (max-width: 1100px) {
  .showing-many-bikes {
    section {
      width: 48.5%;
      margin-left: 1%;
    }
  }
  .showing-2-bikes {
    .year-select {
      width: 28%; 
      margin-right: 0;
    }
    .model-select-contain { 
      width: 100%;
      .select2-container {
        padding-top: 7px;
        clear: both;
      }
    }
    .manufacturer-select {
      margin-right: 2%;
      width: 70%;
    }
  }
}

@media (max-width: 650px) {
  body { padding: 0; }
  
  #new-compare { display: none; }

  footer {
    p, h2 {
      text-align: center;
      float: none;
    }
    img {
      float: right;
      margin-top: .5em;
    }
  }

  .year-select {
    width: 28%; 
    margin-right: 0;
  }
  .model-select-contain { 
    width: 100%;
    .select2-container {
      padding-top: 7px;
      clear: both;
    }
  }
  .manufacturer-select {
    margin-right: 2%;
    width: 70%;
  }
  .selectors { padding: 0 0 .5em 0; }
  .close { display: none; }
  .showing-1-bikes {
    padding: 0;
    min-height: 100%;
    height: 100%;
    section {
      @include box-shadow(0 0 0);
      margin: 0;
      border-radius: 0;
      padding-top: 1em;
      width: 100%;
      // height: 100%;
      min-height: 100%;
    }
    .comp_cat_wrap {
      clear: both;
      float: none;
      margin-left: 0;
      width: 100%;
      margin-top: .5em;
    }
  }
}