// @import "_variables";
// @import "_bootstrap_mixins";
// @import "reset";


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  max-width: 100%;
  position: relative;
  background: purple;
  color: #111;
  font-size: 1.2em;
  font-family: 'Rambla', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Rambla', sans-serif;;
  font-weight: normal;
  line-height: 1.2em;
  strong {
    font-weight: bold;
  }
}

html {
  width: 100%;
  max-width: 100%;
}

.new-compare {
  width: 100%;
  display: block;
  background: purple;
}